body {
    background: url("beamo.gif");
    background-size: 100%;
}
h3 {
    color: white;
    left: 80%;
}
.explosion {
    top: 20%;
    left: 15%;
    position: absolute;
}
.popo, .ride, .dead {
    top: 20%;
    font-size: 200px;
    color: white;
    position: absolute;
}
.cop, .van, .taxi {
    top: 10%;
    font-size: 50px;
    color: black;
    position: absolute;
}
.player {
    top: 10%;
    left: 60%;
    font-size: 50px;
    color: blue;
    position: absolute;
}